.navbarImage {
    width: 20%;
    height: 20%;
}

body {
    background-color: #2B2D2F !important;
}

.navbar a {
    font-size: 15px;
}

.text-center a {
    color: dodgerblue !important;
}

.navbar {
    text-transform: none;
    padding: 1rem 1rem;
}

.bg-dark {
    background-color: #212529 !important;
}

.margin {
    margin-top: 2%;
}

.margin-footer {
    margin-top: 5%;
}

.margin-footer p {
    font-size: 15px;
}




.table td a{
    color: dodgerblue !important;
}
.table td ul li, .table td, .table tr th{
    color: white;
    text-transform: none;
}

#SearchInput {
    background-image: url('../img/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 20%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 2% 40%;
    background-size: 25px;
}

.table {
    width: 60%;
    margin: 0 auto;
    background-color: #262626;
    border: 10x solid #000;
    border-collapse: separate !important;
}
.table>:not(caption)>*>* {
    border-bottom-width: 0 !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
